numpy
ConfigSpace
scipy
scikit-learn
pandas
xgboost

smac
git+https://github.com/mlindauer/ASlibScenario
sphinx_bootstrap_theme
git+https://bitbucket.org/bmmalone/misc.git#egg=misc
git+https://github.com/automl/auto-sklearn.git#egg=autosklearn
.
